/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.research {
  display:flex;
  justify-content: center;
  margin-top:50px;
}

.rating {
  width: 150px;
  background-color: white;
  height: 15px;
}
.game-show {
  color: white;
}
