/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.research {
  display:flex;
  justify-content: center;
  margin-top:50px;
}
