
<div class="aware-wrapper bg-orange">

  <h1>Mes compétences</h1>


  <div class="container">

    <div class="row">
      <% @skills.each do |skill| %>
        <div class="col-xs-12">
          <h2><%= skill.title %> -
            <% if current_user.average(skill) %>
              <%= current_user.average(skill) %>/10
            <% else %>
              en cours de validation
            <% end %>
            <% if current_user.mentor?(skill) %>
              - M
            <% end %>
          </h2>
          <p><%= skill.description %></p>
          <% unless current_user.ratings(skill).empty?  %>
            <p>Réalisée <%= current_user.number_actions_with(skill) %> fois</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
