<h1>Skills#index</h1>

<h1>Choisis les compétences que tu veux travailler</h1>

<%= simple_form_for :search, url: skills_index_path, method: :get do |f| %>
  <% @skills.each do |skill| %>
    <%= f.button :submit, "Faire" %>
  <% end %>
<% end %>


