<h1>Pages#home</h1>

<%= simple_form_for :search, url: skills_index_path, method: :get do |f| %>
  <%= f.button :submit, "Faire" %>
  <%= f.button :submit, "Imaginer" %>
  <%= f.button :submit, "M'imaginer" %>
<% end %>
