/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

body {
  text-align: center;
}

h1 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  color: white;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.bg-orange {
  background: $orange;
}
.bg-green {
  background: $green;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: $blue;
}
.bg-dark-blue {
  background: #3b5998;
}
.bg-orange {
  background: $orange;
}

.aware-wrapper {
  height: calc(100vh - 70px);
  padding-top: 60px;
}
