<h1><%= @title %></h1>

<h2>Quel défi veux tu relever ?</h2>

<% if @challenges.empty? %>
  <p>rien trouvé...</p>
<% else %>
  <%= simple_form_for :selected_challenge, url: games_path, method: :post do |f| %>
    <% @challenges.each do |challenge| %>
      <%= f.button :submit, challenge.title %>
    <% end %>
  <% end %>
<% end %>
