<div class="aware-wrapper bg-green">
<h1>Choisi une action :</h1>

  <div class="container">

    <div class="row">

<% if @challenges.empty? %>
  <p>rien trouvé...</p>
  <%= link_to "essaye à nouveau", root_path %>
<% else %>
  <%= simple_form_for :selected_challenge, url: games_path, method: :post do |f| %>
    <% @challenges.each do |challenge| %>
        <div class="col-xs-12">
          <%= f.submit challenge.title, class: "aware-button btn btn-default"  %>
        </div>
    <% end %>
  <% end %>
<% end %>

    </div>
  </div>
</div>

